<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2>Daftar Kontak</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>action</th>
                    </tr>
                </thead>
                <tbody>
                    <% contacts.forEach(element => { %>
                    <tr>
                        <td scope="row">1</td>
                        <td>Yukie Muhammad Billal</td>
                        <td>yukie@gmail.com</td>
                        <td>
                            <div class="badge rounded-pill bg-success">
                                <i class="bi bi-info-circle"></i>
                                Detail
                            </div>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>