<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="avatar.jpeg" class="img-thumbnail rounded-circle" width="200px">
            <h1>Yukie Muhammad Billal</h1>
            <p>Progammer - Developer</p>
        </div>
    </div>
</div>